<!-- <div class="d-flex justify-content-center">
  <form class="w-50" (ngSubmit)="onSubmit()">
    <h2>Edit Product</h2>
    <div class="mb-3">
      <label for="productName" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="productName" [(ngModel)]="product.nombre_de_usuario" name="nombre_de_usuario">
    </div>
    <div class="mb-3">
      <label for="productDescription" class="form-label">Product Description</label>
      <textarea class="form-control" id="productDescription" [(ngModel)]="product.apellido_de_usuario" name="apellido_de_usuario"></textarea>
    </div>
    <div class="mb-3">
      <label for="productPrice" class="form-label">Product Price</label>
      <input type="number" class="form-control" id="productPrice" [(ngModel)]="product.clave" name="clave">
    </div>
    <div class="mb-3">
      <label for="productStock" class="form-label">Product Stock</label>
      <input type="number" class="form-control" id="productStock" [(ngModel)]="product.email" name="email">
    </div>
    <div class="mb-3" *ngIf="isAdmin()">
      <label for="productStatus" class="form-label">Product Status</label>
      <select class="form-select" id="productStatus" [(ngModel)]="product.estadoUsuario" name="estadoUsuario">
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div> -->
