<div *ngIf="isLoggedIn()" class="mb-3">
  
</div>
<h1 class="title">Información de usuarios</h1>  
<div class="d-flex justify-content-center"> 
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Usuarios</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>clave</th>
      <th>Email</th>
      <th>Estado</th>
      <th>Actions</th>
    </tr>   
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.usuario }}</td>
      <td>{{ product.nombre_de_usuario }}</td>
      <td>{{ product.apellido_de_usuario }}</td>
      <td>{{ product.clave }}</td>
      <td>{{ product.email }}</td>
      <td>{{ product.estadoUsuario }}</td>
      <td>
        <a class="btn btn-primary btn-rounded" [routerLink]="['edit', product.usuario.toString()]">Edit</a>

        <button class="btn btn-danger btn-rounded" (click)="deleteProduct(product.usuario.toString())">Delete</button>
        
      </td>
    </tr>
  
  </tbody>
</table>

</div>
<br>
  <a class="btn btn-secondary btn-rounded" routerLink="create">Crear nuevo usuario</a>