<div class="d-flex align-items-center justify-content-center vh-100">
    <img src="https://pbs.twimg.com/profile_images/1669032594439036928/KPxeEa-W_400x400.png" alt="Imagen" class="imagen-form">
    <form class="custom-form">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">clave</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
  